
<h1>Admin</h1>
<a asp-controller="Account" asp-action="Register">Добавить в систему</a>

<a asp-controller="AdminPages" asp-action="ListUsers">Пользовтели</a>
<a asp-controller="AdminPages" asp-action="ListGroups">Группы</a>
<a asp-controller="StudentPages" asp-action="SchedulePage">Расписание</a>
@*  <a asp-action="Student" asp-controller="Home">sfsd</a> *@