@* @model IEnumerable<NDiary.Models.Schedule>
@model NDiary.Models.Schedule
<h1>Расписание</h1>

<p>
	
</p>
<table>
	@foreach (var item in Model)
	{
	<tr>
		<th>День недели</th>
		<th>Номер уроков</th>
		<th>
				@Html.DisplayFor(modelItem => item.Group.Name)
		</th>


	</tr>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.DayWeek)
			</td>
			
		</tr>
	}
</table>
 *@